@import url("https://fonts.googleapis.com/css?family=open+sans:,300,400,500,600,700,800");
/*--------------------*\
       Variables
\*--------------------*/
/*--------------------*\
       Typography
\*--------------------*/
h1 {
  font-size: 4.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'open sans', sans-serif, regular;
  font-weight: 200;
  color: #231f20;
  font-family: 'Playfair Display', serif;
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 300; }
  @media screen and (max-width: 790px) {
    h1 {
      font-size: 3.75rem; } }

h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'open sans', sans-serif, regular;
  font-weight: 200;
  color: #231f20;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
  line-height: 2.75rem; }

h3 {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'open sans', sans-serif, regular;
  font-weight: 200;
  color: #231f20;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

p {
  font-size: 1.15em;
  text-align: left;
  font-family: 'open sans', regular;
  font-weight: 300;
  color: #231f20;
  line-height: 1.8rem; }

a {
  color: #818080;
  text-decoration: none; }

a:hover {
  color: gold; }

.scroll-link {
  display: inline;
  padding-left: 20px;
  font-size: 1.1rem;
  font-family: 'open sans', regular;
  font-weight: 300;
  color: #231f20;
  line-height: 1.25rem; }
  @media screen and (max-width: 790px) {
    .scroll-link {
      font-size: 1.5rem;
      margin-top: .5rem; } }

.navbar-inverse .navbar-nav > li > a:hover {
  color: gold; }

.navbar-inverse .navbar-nav > li > a:focus {
  color: #818080; }

/*--------------------*\
        Mixins
\*--------------------*/
/*--------------------*\
    Global Elements
\*--------------------*/
body {
  margin: 0;
  min-height: 100vh;
  background-color: #f7f5f5; }

.subtitle {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2.5rem; }

.spacer {
  height: 3rem; }
  @media screen and (max-width: 790px) {
    .spacer {
      height: 0rem; } }

/*--------------------*\
         Header
\*--------------------*/
.header {
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: #f7f5f5;
  border-bottom: 1px solid #d7d5d5;
  z-index: 10; }

.navbar {
  border: none; }

@media screen and (max-width: 790px) {
  .nav {
    position: relative; } }

.navbar-inverse {
  background-color: #f7f5f5;
  margin-left: 4%;
  margin-right: 4%; }

.navbar-nav {
  display: inline-block;
  position: relative;
  padding-top: 12px; }
  @media (min-width: 790px) {
    .navbar-nav {
      float: right; } }

.logo {
  display: inline-block;
  position: relative;
  float: left;
  margin-top: 0.4rem;
  max-height: 50px;
  max-width: 325px; }
  @media screen and (max-width: 790px) {
    .logo {
      position: relative;
      margin: auto;
      float: none;
      margin-top: .8rem;
      max-width: 190px; } }

.navbar-brand {
  padding: 12px; }
  @media (min-width: 790px) {
    .navbar-brand {
      padding-left: 0; } }

ul.menu {
  display: inline-block;
  position: relative;
  float: right;
  bottom: 5px; }
  @media screen and (max-width: 790px) {
    ul.menu {
      display: none; } }

.navbar-toggle {
  position: relative;
  float: right;
  background-color: transparent; }

.navbar-toggle .icon-bar {
  width: 40px;
  height: 4px;
  margin-top: 12px;
  color: #231F20; }

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #231F20; }

.navbar-inverse .navbar-toggle {
  border: none; }

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: transparent; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none; }
  @media screen and (max-width: 790px) {
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      background-color: #ffffff;
      padding-bottom: .5rem; } }

/*--------------------*\
         Hero
\*--------------------*/
.hero {
  position: relative;
  margin-left: 0px;
  width: 100%;
  height: 78vh;
  background-color: #231F20;
  overflow: hidden; }

.hero_img {
  position: relative;
  margin-left: 0px;
  background-image: url("./everest.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .6;
  width: 100%;
  height: 100vh; }

.slogan {
  position: absolute;
  bottom: 26%;
  left: 20%;
  right: 20%;
  text-align: center;
  opacity: 100; }
  @media screen and (max-width: 790px) {
    .slogan {
      left: 10%;
      right: 10%;
      bottom: 20%; } }

/*--------------------*\
         About
\*--------------------*/
.about {
  position: relative;
  width: 80%;
  margin: auto;
  padding: 35px;
  padding-top: 50px;
  max-width: 650px; }
  @media screen and (min-width: 790px) {
    .about {
     width: 63%;
     padding-bottom: 7rem;} }

.about_leadin {
  text-align: center;
  padding: 1rem 0 1rem; }
  @media screen and (max-width: 790px) {
    .about_leadin {
      text-align: left; } }

.list {
  padding-left: 2rem; }

/*--------------------*\
       Companies  //FIXME section needs cleaning
\*--------------------*/
.companies {
  position: relative;
  margin: auto;
  width: 80%;
  padding-top: 30px;
  max-width: 650px; }
  .companies .explaination_text {
    position: relative;
    margin: auto;
    max-width: 650px;
    margin-bottom: 3rem; }
  .companies .project_left {
    float: none;
    position: relative;
    display: inline-block;
    border-bottom: 0.5rem solid #e36a6b;
    width: 31%;
    background-color: #fefefe;
    min-height: 26.5rem;
    padding: 1.25rem 0 0.25rem;
    width: 100%;
    margin-bottom: 1rem; }
  .companies .project_center {
    float: none;
    position: relative;
    display: inline-block;
    border-bottom: 0.5rem solid #e36a6b;
    width: 31%;
    background-color: #fefefe;
    min-height: 26.5rem;
    padding: 1.25rem 0 0.25rem;
    width: 100%;
    margin-bottom: 1rem; }
  .companies .project_right {
    float: none;
    position: relative;
    display: inline-block;
    border-bottom: 0.5rem solid #e36a6b;
    width: 31%;
    background-color: #fefefe;
    min-height: 26.5rem;
    padding: 1.25rem 0 0.25rem;
    width: 100%;
    margin-bottom: 1rem; }
  .companies .co-logo {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 75%;
    padding-top: 2%;
    padding-bottom: 2%; }
  @media screen and (min-width: 790px) {
    .companies {
      position: relative;
      text-align: center;
      margin: 0 auto 65px;
      max-width: 1100px;
      padding: 20px; }
      .companies .project_left {
        float: left;
        position: relative;
        display: inline-block;
        border-bottom: 0.5rem solid #e36a6b;
        width: 31%;
        background-color: #fefefe;
        min-height: 26.5rem;
        padding: 1.25rem 0 0.25rem; }
      .companies .project_center {
        float: none;
        position: relative;
        display: inline-block;
        border-bottom: 0.5rem solid #e36a6b;
        width: 31%;
        background-color: #fefefe;
        min-height: 26.5rem;
        padding: 1.25rem 0 0.25rem; }
      .companies .project_right {
        float: right;
        position: relative;
        display: inline-block;
        border-bottom: 0.5rem solid #e36a6b;
        width: 31%;
        background-color: #fefefe;
        min-height: 26.5rem;
        padding: 1.25rem 0 0.25rem; }
      .companies .co-logo {
        max-width: 40%;
        padding-top: 2%;
        padding-bottom: 2%; } }

.sevice_description {
  font-size: 0.9rem;
  padding: 0 1.5rem; }

.sevice_description_title {
  color: #e36a6b;
  padding: 0 1.5rem;
  text-align: center; }

/*--------------------*\
         Team  //FIXME section needs cleaning
\*--------------------*/
.team {
  position: relative;
  margin: auto;
  width: 80%;
  padding-top: 4.5rem;
  height: auto; }
  @media screen and (max-width: 790px) {
    .team {
      max-width: 400px;
      margin: 0 auto; } }
  .team .person_left {
    float: center;
    position: relative;
    display: inline-block;
    width: 31%;
    max-width: 400px;
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
    margin-bottom: 1rem; }
  .team .person_center {
    float: center;
    position: relative;
    display: inline-block;
    width: 31%;
    max-width: 400px;
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
    margin-bottom: 1rem; }
  .team .person_right {
    float: center;
    position: relative;
    display: inline-block;
    width: 31%;
    max-width: 400px;
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
    margin-bottom: 1rem; }
  .team .person {
    width: 100%;
    object-fit: contain; }
  @media screen and (min-width: 790px) {
    .team {
      position: relative;
      text-align: center;
      margin: 0 auto 65px;
      max-width: 1100px;
      max-width: 1000px;
      padding: 20px; }
      .team .person_left {
        float: left;
        position: relative;
        display: inline-block;
        width: 31%;
        max-width: 400px;
        margin-bottom: 20px;
        background-color: white; }
      .team .person_center {
        float: none;
        position: relative;
        display: inline-block;
        width: 31%;
        max-width: 400px;
        margin-bottom: 20px;
        background-color: white; }
      .team .person_right {
        float: right;
        position: relative;
        display: inline-block;
        width: 31%;
        max-width: 400px;
        margin-bottom: 20px;
        background-color: white; } }

.clear {
  clear: both; }

/*--------------------*\
         Contact
\*--------------------*/
.contact {
  position: relative;
  width: 63%;
  margin: auto;
  padding: 3.25rem 35px 12rem;
  max-width: 650px; }
  @media screen and (max-width: 790px) {
    .contact {
      width: 80%; } }

.contact_leadin {
  text-align: center;
  padding: 1rem 0 1rem; }
  @media screen and (max-width: 790px) {
    .contact_leadin {
      text-align: left; } }

/*--------------------*\
         Footer  //Could be cleaned
\*--------------------*/
.footer {
  padding: 1.5rem 0; }

.footer_container {
  margin: 0 auto;
  width: 80%;
  border-top: 1px solid #d7d5d5; }

.co_name {
  position: relative;
  float: left;
  margin: 1.7rem 0; }
  @media screen and (max-width: 515px) {
    .co_name {
      margin: 1rem auto 0; } }

.contact_us {
  position: relative;
  float: right;
  margin: 1.7rem 0; }
  @media screen and (max-width: 515px) {
    .contact_us {
      margin: .8rem auto 1.6rem;
      float: left; } }

/*# sourceMappingURL=main.css.map */
